
<div class="container"> <!--container responsável pelo corpo do cadastro de atividades-->
            </br></br></br></br></br>
            <div class="matshead">
                <h2 class="text-muted">NOME DA ATIVIDADE</h2>                
            </div>
            <hr class="featurette-divider">          
            <div class="row">
                <div class="col-xs-12 col-md-8">
                    <form class="form-horizontal">                 
                        <div class="form-group">
                            <label for="inputEdicao" class="col-sm-2 control-label">Edição</label>
                            <div class="col-md-8">
                                <input class="form-control" id="inputEdicao" placeholder="Nome da Edição">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="inputEdicao" class="col-sm-2 control-label">Dias</label>
                            <div class="col-md-8">
                                <label class="radio-inline">
                                    <input type="radio" name="inlineRadioOptions" id="inlineRadio1" value="option1" checked> 1
                                </label>
                                <label class="radio-inline">
                                    <input type="radio" name="inlineRadioOptions" id="inlineRadio2" value="option2"> 2
                                </label>
                                <label class="radio-inline">
                                    <input type="radio" name="inlineRadioOptions" id="inlineRadio3" value="option3"> 3
                                </label>
                                <label class="radio-inline">
                                    <input type="radio" name="inlineRadioOptions" id="inlineRadio4" value="option4"> 4
                                </label>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="inputDuracao" class="col-sm-2 control-label">Duração</label>
                            <div class="col-md-3">
                                <input class="form-control" id="inputDuracao" placeholder="duração horas">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="inputDescricao" class="col-sm-2 control-label">Descrição</label>
                            <div class="col-md-8">
                                <textarea class="form-control" rows="3" placeholder="Descrição da atividade"></textarea>
                            </div>                            
                        </div>
                    </form>
                </div>                        
            </div> <!--fim do corpo do cadastro de atividades-->
            <div align="right">
                <a href="./home.html">                    
                    <button type="button" class="btn btn-primary">
                        Prosseguir
                        <h3>
                            <span class="glyphicon glyphicon-arrow-right" aria-hiden="true"></span>
                        </h3>       
                    </button>
                </a>
            </div>