<?php
$sql = "SELECT nome, semestre FROM usuario;";
$retorno = mysql_query($sql, $conecta);
$linhas = mysql_num_rows($retorno);
?>

<div class="container"> <!--container responsável pelo corpo do cadastro de atividades-->
    </br></br></br></br></br>
    <div class="matshead">
        <h2 class="text-muted">Cadastrar Atividade</h2>
    </div>
    <hr class="featurette-divider">
    <div class="row">
        <div class="col-xs-12 col-md-8">
            <form class="form-horizontal" action="./?p=processaAtividade" method="post">                 
                <div class="form-group">
                    <label for="inputAtividade" class="col-sm-2 control-label">Atividade</label>
                    <div class="col-md-8">
                        <input class="form-control" name="atividade" id="inputAtividade" placeholder="Nome Atividade">
                    </div>
                </div>                                                                
                <div class="form-group">
                    <label for="inputDescricao" class="col-sm-2 control-label">Descrição</label>
                    <div class="col-md-8">
                        <textarea class="form-control" name="descricao" rows="3" placeholder="Descrição da atividade"></textarea>
                    </div>                            
                </div>                                
                <div class="form-group">
                    <label for="inputUsuario" class="col-sm-2 control-label">Membros do Grupo PET-SI</label>
                    <div class="col-md-8">
                        <div class="table-responsive">                      
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th>#</th>
                                        <th colspan="2">Nome</th>
                                        <th>Semestre</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <?php for($i = 0; $i < $linhas; $i++): ?>
					<?php $membros = mysql_fetch_array($retorno); ?>
                                    <tr>
                                        <td>
                                            <div class="checkbox">
                                                <label>
                                                    <input type="checkbox" name="<?php echo $i;?>" value="<?php echo $membros['nome']; ?>">
                                                </label>
                                            </div>
                                        </td>
                                        <td colspan="2"><?php echo $membros["nome"];?></td>
                                        <td><?php echo $membros["semestre"]."º Semestre";?></td>
                                    </tr>  
                                    <?php endfor; 
                                    mysql_free_result($retorno);?>
                                </tbody>        
                            </table>                       
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-10">
                        <button type="submit" class="btn btn-default">Concluir</button>
                    </div>
                </div>
            </form>
        </div>               
    </div>
</div> <!--fim do corpo do cadastro de atividades-->