<div class="container"> <!--container responsável pelo corpo do cadastro de atividades-->
    </br></br></br></br></br>
    <div class="matshead">
        <h2 class="text-muted">NOME DA ATIVIDADE</h2>                
    </div>
    <hr class="featurette-divider">          
    <div class="row">
        <div class="col-xs-12 col-md-8">
            <form class="form-horizontal" action="./?p=processaEdicao" method="post">    
                <div class='form-group'><label for='inputAtividade' class='col-sm-2 control-label'>Lista de Atividades</label>
                    <div class='col-md-8'>
                        <select class='form-control' name='atividade'>
                            <?php
                            $retorno = mysql_query("SELECT nome FROM atividade;", $conecta);                                           
                            while ($atividade = mysql_fetch_array($retorno)) :
                            ?>
                            <option value="<?php echo $atividade["nome"]; ?>"><?php echo $atividade["nome"]; ?></option>
                            <?php endwhile; ?>
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <label for="inputEdicao" class="col-sm-2 control-label">Edição</label>
                    <div class="col-md-8">
                        <input class="form-control" id="inputEdicao" name="nome" placeholder="Nome da Edição">
                    </div>
                </div>
                <div class="form-group">
                    <label for="inputEdicao" class="col-sm-2 control-label">Dias</label>
                    <div class="col-md-8">
                        <label class="radio-inline">
                            <input type="radio" name="dias" id="inlineRadio1" value="1" checked> 1
                        </label>
                        <label class="radio-inline">
                            <input type="radio" name="dias" id="inlineRadio2" value="2"> 2
                        </label>
                        <label class="radio-inline">
                            <input type="radio" name="dias" id="inlineRadio3" value="3"> 3
                        </label>
                        <label class="radio-inline">
                            <input type="radio" name="dias" id="inlineRadio4" value="4"> 4
                        </label>
                    </div>
                </div>
                <div class="form-group">
                    <label for="inputDuracao" class="col-sm-2 control-label">Duração</label>
                    <div class="col-md-2">
                        <input type="time" class="form-control" name="duracao" id="inputDuracao" placeholder="duração horas">
                    </div>
                </div>
                <div class="form-group">
                    <label for="inputDuracao" class="col-sm-2 control-label">Status</label>
                    <div class='col-md-5'>
                        <select class='form-control' name='status'>                                                                                                                
                            <option value="Iniciada">Iniciada</option>
                            <option value="Atrasada">Atrasada</option>
                            <option value="Andamento">Andamento</option>
                            <option value="Andamento">Concluida</option>
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <label for="inputDescricao" class="col-sm-2 control-label">Descrição</label>
                    <div class="col-md-8">
                        <textarea class="form-control" name="descricao" rows="3" placeholder="Descrição da atividade"></textarea>
                    </div>                            
                </div>
                <div align="right">
                    <a href="#">                    
                        <button type="submit" class="btn btn-primary">
                            Prosseguir
                            <h3><span class="glyphicon glyphicon-arrow-right" aria-hiden="true"></span></h3>       
                        </button>
                    </a>
                </div>
            </form>
        </div>                        
    </div> <!--fim do corpo do cadastro de atividades-->
