<div class="container">
    <footer class="footer">
        <hr class="featurette-divider">
        <p>© Company 2015</p>
    </footer>
</div>
<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="./static/js/jquery-1.11.3.min.js"></script>
<!-- Include all compiled plugins (below), or include individual files as needed -->
<script src="./static/js/bootstrap.min.js"></script>
</body>
</html>