<div class="container"> <!--container responsável pelo corpo do cadastro de usuarios-->
    </br></br></br></br></br>   
    <div class="matshead">
        <h2 class="text-muted">Cadastrar Usuários</h2>
    </div>
    <hr class="featurette-divider">
    <div class="row">
        <div class="col-xs-12 col-md-8">
            <form class="form-horizontal" action="./?p=processaUsuario" method="post">                 
                <div class="form-group">
                    <label for="inputNome" class="col-sm-2 control-label">Nome</label>
                    <div class="col-md-8">
                        <input class="form-control" name="nome" id="inputNome" placeholder="Nome">
                    </div>
                </div>
                <div class="form-group">
                    <label for="inputPassword" class="col-sm-2 control-label">Senha</label>
                    <div class="col-md-8">
                        <input type="password" name="password" class="form-control" id="inputPassword" placeholder="Até 60 caracteres" maxlength="60">
                    </div>
                </div>
                <div class="form-group">
                    <label for="inputEmail" class="col-sm-2 control-label">Email</label>
                    <div class="col-md-8">
                        <input class="form-control" name="email" id="inputEmail" placeholder="email@email.com">
                    </div>
                </div>                       
                <div class="form-group">
                    <label for="inputSemestre" class="col-sm-2 control-label">Semestre</label>
                    <div class="col-md-1">
                        <input class="form-control" name="semestre" id="inputSemestre" placeholder="#">
                    </div>
                </div>                                                                                                                     
                <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-10">
                        <button type="submit" class="btn btn-default">Concluir</button>
                    </div>
                </div>
            </form>
        </div>               
    </div>
</div> <!--fim do corpo do cadastro de usuarios-->